In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Heart_Disease_Prediction.csv')
#df

In [3]:
df_men = df[df['Sex'] == 1].reset_index(drop=True)
#df_men
len(df_men)

183

In [4]:
df_men_pres = df_men[df_men['Heart Disease'] == 'Presence'].reset_index(drop = True)
#df_men_pres
len(df_men_pres)

100

In [603]:
class Cholesterol_Line(object):
    def __init__(self, df, Chol_Line: float, gender: str, column_1: str, column_2: str, Pres_or_Abs: str):
        self.df = df.reset_index(drop = True)
        self.Chol_Line = Chol_Line
        self.gender = gender
        self.column_1 = column_1
        self.column_2 = column_2
        self.Pres_or_Abs = Pres_or_Abs

    def gender_filter(self,df, gender):
        global df_gender
        if gender == 'man':
            self.df_gender = df[df['Sex'] == 1].reset_index(drop=True)
        elif gender == 'woman':
            self.df_gender = df[df['Sex'] == 0].reset_index(drop=True)
        else:
            
            print("Error! Use man or woman!")
            
    def heart_disease_gender(self, df_gender):
        global df_presence
        global df_absence
        if self.Pres_or_Abs == 'Presence':
            df_presence = self.df_gender[self.df_gender['Heart Disease'] == self.Pres_or_Abs].reset_index(drop = True)
            df_absence = self.df_gender[self.df_gender['Heart Disease'] != self.Pres_or_Abs].reset_index(drop = True)
        elif self.Pres_or_Abs == 'Absence':
            df_presence = self.df_gender[self.df_gender['Heart Disease'] != self.Pres_or_Abs].reset_index(drop = True)
            df_absence = self.df_gender[self.df_gender['Heart Disease'] == self.Pres_or_Abs].reset_index(drop = True)
        else:
            print("Error! Use Presence or Absence")
        
    def chol_line(self, Chol_Line, column_1, column_2):

        global df_chol_line_above
        global df_chol_line_below
        global df_gender_above
        global df_gender_below
        global df_presence_above
        global df_presence_below
        
        df_chol_line_above = df[df[self.column_2] >= self.Chol_Line].reset_index(drop = True)
        df_chol_line_below = df[df[self.column_2] < self.Chol_Line].reset_index(drop = True)
        df_gender_above = self.df_gender[self.df_gender[self.column_2] >= self.Chol_Line].reset_index(drop = True)
        df_gender_below = self.df_gender[self.df_gender[self.column_2] < self.Chol_Line].reset_index(drop = True)
        df_presence_above = df_presence[df_presence[self.column_2] >= self.Chol_Line].reset_index(drop = True)
        df_presence_below = df_presence[df_presence[self.column_2] < self.Chol_Line].reset_index(drop = True)

        

    def main(self):
        self.gender_filter(self.df, self.gender)
        self.heart_disease_gender(self.df_gender)
        self.chol_line(self.Chol_Line, self.column_1, self.column_2)

In [604]:
class Bayes(object):
    def __init__(self):
        self.Pres_Above = 0
        self.Above = 0
        self.Pres_Below = 0
        self.Below = 0
        self.Pres = 0
        self.Pres_Above_len = 0
        self.Above_len = 0
        self.Pres_Below_len = 0
        self.Below_len = 0
        self.Pres_len = 0
        self.One_Percent = 0
        
    def df_length(self, a, b, c, d, e):
        self.Pres_Above_len = len(a)
        self.Above_len = len(b)
        self.Pres_Below_len = len(c)
        self.Below_len = len(d)
        self.Pres_len = len(e)
        self.One_Percent = len(e)/100

        #percentage calculation 
        self.Pres_Above = len(a)/self.One_Percent
        self.Above = len(b)/self.One_Percent
        self.Pres_Below = len(c)/self.One_Percent
        self.Below = len(d)/self.One_Percent

    def Bayes_calculate(self, a, b, c, d, e):
        global Bayes_calculated
        self.df_length(a, b, c, d, e)
        Bayes_calculated = ((self.Pres_Above*self.Above) / ((self.Pres_Above*self.Above) + (self.Pres_Below*self.Below)))*100
        #return Bayes_calculated

In [607]:
chol = Cholesterol_Line(df, 200, 'woman', 'Age', 'Cholesterol', 'Presence')

In [608]:
chol.main()

In [609]:
Bayes_Men = Bayes()

In [610]:
Bayes_Men.Bayes_calculate(df_presence_above, df_gender_above, df_presence_below, df_gender_below, df_presence)

In [611]:
Bayes_calculated

99.16492693110646

In [573]:
chol = Cholesterol_Line(df, 200, 'man', 'Age', 'Cholesterol', 'Presence')

In [551]:
chol.main()

In [552]:
df_gender

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
2,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
3,65,1,4,120,177,0,0,140,0,0.4,1,0,7,Absence
4,56,1,3,130,256,1,2,142,1,0.6,2,1,6,Presence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,48,1,2,110,229,0,0,168,0,1.0,3,0,7,Presence
179,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
180,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
181,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence
182,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [553]:
df_presence

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
2,56,1,3,130,256,1,2,142,1,0.6,2,1,6,Presence
3,59,1,4,110,239,0,2,142,1,1.2,2,1,7,Presence
4,60,1,4,140,293,0,2,170,0,1.2,2,2,7,Presence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,64,1,3,140,335,0,0,158,0,0.0,1,0,3,Presence
96,60,1,4,130,206,0,2,132,1,2.4,2,2,7,Presence
97,58,1,2,120,284,0,2,160,0,1.8,2,0,3,Presence
98,48,1,2,110,229,0,0,168,0,1.0,3,0,7,Presence
99,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [554]:
df_absence

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
1,65,1,4,120,177,0,0,140,0,0.4,1,0,7,Absence
2,59,1,4,135,234,0,0,161,0,0.5,2,0,7,Absence
3,53,1,4,142,226,0,2,111,1,0.0,1,0,7,Absence
4,44,1,3,140,235,0,2,180,0,0.0,1,0,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,43,1,4,150,247,0,0,171,0,1.5,1,0,3,Absence
79,49,1,2,130,266,0,0,171,0,0.6,1,0,3,Absence
80,52,1,3,172,199,1,0,162,0,0.5,1,0,7,Absence
81,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
82,57,1,4,140,192,0,0,148,0,0.4,2,0,6,Absence

In [555]:
df_chol_line_above

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,49,1,2,130,266,0,0,171,0,0.6,1,0,3,Absence
227,48,1,2,110,229,0,0,168,0,1.0,3,0,7,Presence
228,44,1,2,120,263,0,0,173,0,0.0,1,0,7,Absence
229,56,0,2,140,294,0,2,153,0,1.3,2,0,3,Absence
230,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [556]:
len(df_chol_line_below)

39

In [557]:
len(df)

270

In [558]:
len(df_gender_above)

156

In [559]:
len(df_gender_below)

27

In [560]:
df_presence_above

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
2,56,1,3,130,256,1,2,142,1,0.6,2,1,6,Presence
3,59,1,4,110,239,0,2,142,1,1.2,2,1,7,Presence
4,60,1,4,140,293,0,2,170,0,1.2,2,2,7,Presence
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,64,1,3,140,335,0,0,158,0,0.0,1,0,3,Presence
83,60,1,4,130,206,0,2,132,1,2.4,2,2,7,Presence
84,58,1,2,120,284,0,2,160,0,1.8,2,0,3,Presence
85,48,1,2,110,229,0,0,168,0,1.0,3,0,7,Presence
86,67,1,4,160,286,0,2,108,1,1.5,2,3,3,Presence

In [561]:
df_presence_below

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,49,1,3,118,149,0,2,126,0,0.8,1,3,3,Presence
1,44,1,4,110,197,0,2,177,0,0.0,1,1,3,Presence
2,61,1,4,138,166,0,2,125,1,3.6,2,1,3,Presence
3,35,1,4,120,198,0,0,130,1,1.6,2,0,7,Presence
4,59,1,4,140,177,0,0,162,1,0.0,1,1,7,Presence
5,49,1,3,120,188,0,0,139,0,2.0,2,3,7,Presence
6,40,1,4,110,167,0,2,114,1,2.0,2,0,7,Presence
7,41,1,4,110,172,0,2,158,0,0.0,1,0,7,Presence
8,56,1,4,132,184,0,2,105,1,2.1,2,1,6,Presence
9,70,1,4,145,174,0,0,125,1,2.6,3,0,7,Presence
10,43,1,4,120,177,0,2,120,1,2.5,2,0,7,Presence
11,60,1,3,140,185,0,2,155,0,3.0,2,0,3,Presence
12,54,1,4,120,188,0,0,113,0,1.4,2,1,7,Presence

In [350]:
class Bayes():
    def __init__(self):
        self.Pres_Above = 0
        self.Above = 0
        self.Pres_Below = 0
        self.Below = 0
        self.Pres = 0
        self.Pres_Above_len = 0
        self.Above_len = 0
        self.Pres_Below_len = 0
        self.Below_len = 0
        self.Pres_len = 0
        self.One_Percent = 0
        
    def df_length(self, a, b, c, d, e):
        self.Pres_Above_len = len(a)
        self.Above_len = len(b)
        self.Pres_Below_len = len(c)
        self.Below_len = len(d)
        self.Pres_len = len(e)
        self.One_Percent = len(e)/100

        #percentage calculation 
        self.Pres_Above = len(a)/self.One_Percent
        self.Above = len(b)/self.One_Percent
        self.Pres_Below = len(c)/self.One_Percent
        self.Below = len(d)/self.One_Percent

    def Bayes_calculate(self, a, b, c, d, e):
        global Bayes_calculated
        self.df_length(a, b, c, d, e)
        Bayes_calculated = ((self.Pres_Above*self.Above) / ((self.Pres_Above*self.Above) + (self.Pres_Below*self.Below)))*100
        #return Bayes_calculated

In [351]:
Bayes_men = Bayes()

In [335]:
Bayes_men.Bayes_calculate(df_men_pres_above, df_men_above, df_men_pres_below, df_men_below, df_men_pres)

NameError: name 'df_men_pres_above' is not defined

In [567]:
Bayes_calculated

97.47899159663865