In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Heart_Disease_Prediction.csv')
#df

In [3]:
df_men = df[df['Sex'] == 1].reset_index(drop=True)
#df_men
len(df_men)

183

In [4]:
df_men_pres = df_men[df_men['Heart Disease'] == 'Presence'].reset_index(drop = True)
#df_men_pres
len(df_men_pres)

100

In [22]:
df_men_chol = df_men[['Age', 'Cholesterol']]
df_men_dict = df_men_chol.set_index('Age').to_dict('list')['Cholesterol']
df_men_dict
#df_men_chol

[322,
 261,
 263,
 177,
 256,
 239,
 293,
 234,
 226,
 235,
 234,
 311,
 203,
 211,
 199,
 229,
 245,
 303,
 204,
 230,
 229,
 228,
 326,
 200,
 256,
 207,
 273,
 180,
 222,
 223,
 233,
 197,
 218,
 211,
 149,
 197,
 246,
 315,
 205,
 166,
 281,
 126,
 226,
 233,
 276,
 261,
 243,
 260,
 245,
 309,
 208,
 236,
 218,
 198,
 270,
 214,
 201,
 244,
 208,
 270,
 243,
 221,
 266,
 206,
 212,
 275,
 302,
 234,
 237,
 289,
 254,
 274,
 222,
 177,
 235,
 295,
 249,
 283,
 188,
 286,
 274,
 273,
 267,
 201,
 230,
 212,
 226,
 246,
 232,
 249,
 207,
 212,
 271,
 233,
 213,
 283,
 282,
 230,
 167,
 224,
 250,
 217,
 308,
 193,
 231,
 262,
 259,
 211,
 197,
 282,
 234,
 254,
 299,
 182,
 298,
 231,
 254,
 196,
 240,
 172,
 246,
 315,
 184,
 233,
 269,
 239,
 174,
 309,
 282,
 255,
 304,
 277,
 300,
 258,
 299,
 289,
 298,
 240,
 309,
 250,
 288,
 245,
 216,
 204,
 227,
 258,
 220,
 239,
 254,
 168,
 330,
 203,
 186,
 219,
 260,
 255,
 231,
 177,
 257,
 325,
 274,
 321,
 253,
 248,
 185,
 282,
 188,
 219,
 290,
 175,
 212,
 243,
 353,
 335,
 247,
 206,
 284,
 266,
 229,
 199,
 263,
 192,
 286]

In [23]:
len(df_men_dict)

183

In [25]:
df_men_dict = dict(zip(df_men_chol.Age, df_men_chol.Cholesterol))
df_men_dict

{70: 174,
 57: 192,
 64: 335,
 65: 248,
 56: 184,
 59: 212,
 60: 206,
 53: 246,
 44: 263,
 61: 243,
 46: 231,
 40: 167,
 67: 286,
 48: 229,
 43: 247,
 47: 257,
 58: 284,
 66: 212,
 50: 196,
 42: 240,
 49: 266,
 52: 199,
 62: 231,
 63: 330,
 51: 175,
 45: 260,
 35: 282,
 41: 203,
 54: 188,
 55: 353,
 38: 231,
 69: 254,
 34: 182,
 77: 304,
 68: 274,
 37: 250,
 29: 204,
 39: 321}

In [26]:
len(df_men_dict)

38

In [30]:
df_men_chol_list = df_men_chol.values.tolist()
len(df_men_chol_list)

183

In [36]:
d = {}
for k, v in df_men_chol_list:
    d.setdefault(k, []).append(v)
sorted(d.items())

[(29, [204]),
 (34, [182]),
 (35, [198, 282]),
 (37, [250]),
 (38, [231]),
 (39, [219, 321]),
 (40, [199, 223, 167]),
 (41, [214, 235, 250, 172, 203]),
 (42, [180, 315, 244, 295, 226, 240]),
 (43, [303, 211, 315, 177, 247]),
 (44, [235, 233, 197, 226, 220, 219, 290, 263]),
 (45, [309, 208, 308, 260]),
 (46, [311, 197, 249, 231]),
 (47, [204, 243, 275, 257]),
 (48, [245, 256, 222, 274, 255, 229]),
 (49, [149, 188, 266]),
 (50, [200, 243, 233, 196]),
 (51, [261, 222, 213, 298, 299, 245, 227, 175]),
 (52, [205, 212, 201, 230, 233, 298, 186, 255, 325, 199]),
 (53, [226, 203, 282, 197, 246]),
 (54, [266, 206, 286, 273, 232, 283, 239, 309, 258, 239, 188]),
 (55, [217, 262, 289, 353]),
 (56, [256, 236, 283, 249, 193, 184]),
 (57, [261, 229, 126, 276, 201, 289, 274, 207, 168, 192]),
 (58, [230, 211, 218, 270, 234, 224, 259, 300, 240, 216, 284]),
 (59, [239, 234, 326, 273, 218, 270, 221, 177, 271, 288, 212]),
 (60, [293, 230, 258, 253, 185, 282, 206]),
 (61, [234, 207, 166, 260, 243]),
 (62, [281, 208, 267, 231]),
 (63, [233, 254, 330]),
 (64, [263, 211, 246, 212, 309, 335]),
 (65, [177, 282, 254, 248]),
 (66, [228, 246, 302, 212]),
 (67, [229, 237, 299, 254, 286]),
 (68, [277, 274]),
 (69, [234, 254]),
 (70, [322, 245, 269, 174]),
 (77, [304])]

In [41]:
df_chol = pd.DataFrame(list(d.items()), columns=['Age', 'Cholesterol'])
df_chol

    Age                                        Cholesterol
0    70                               [322, 245, 269, 174]
1    57  [261, 229, 126, 276, 201, 289, 274, 207, 168, ...
2    64                     [263, 211, 246, 212, 309, 335]
3    65                               [177, 282, 254, 248]
4    56                     [256, 236, 283, 249, 193, 184]
5    59  [239, 234, 326, 273, 218, 270, 221, 177, 271, ...
6    60                [293, 230, 258, 253, 185, 282, 206]
7    53                          [226, 203, 282, 197, 246]
8    44           [235, 233, 197, 226, 220, 219, 290, 263]
9    61                          [234, 207, 166, 260, 243]
10   46                               [311, 197, 249, 231]
11   40                                    [199, 223, 167]
12   67                          [229, 237, 299, 254, 286]
13   48                     [245, 256, 222, 274, 255, 229]
14   43                          [303, 211, 315, 177, 247]
15   47                               [204, 243, 275, 257]
16   58  [230, 211, 218, 270, 234, 224, 259, 300, 240, ...
17   66                               [228, 246, 302, 212]
18   50                               [200, 243, 233, 196]
19   42                     [180, 315, 244, 295, 226, 240]
20   49                                    [149, 188, 266]
21   52  [205, 212, 201, 230, 233, 298, 186, 255, 325, ...
22   62                               [281, 208, 267, 231]
23   63                                    [233, 254, 330]
24   51           [261, 222, 213, 298, 299, 245, 227, 175]
25   45                               [309, 208, 308, 260]
26   35                                         [198, 282]
27   41                          [214, 235, 250, 172, 203]
28   54  [266, 206, 286, 273, 232, 283, 239, 309, 258, ...
29   55                               [217, 262, 289, 353]
30   38                                              [231]
31   69                                         [234, 254]
32   34                                              [182]
33   77                                              [304]
34   68                                         [277, 274]
35   37                                              [250]
36   29                                              [204]
37   39                                         [219, 321]

In [43]:
df_chol = pd.DataFrame.from_dict(d, orient='index')
df_chol

     0      1      2      3      4      5      6      7      8      9      10
70  322  245.0  269.0  174.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
57  261  229.0  126.0  276.0  201.0  289.0  274.0  207.0  168.0  192.0    NaN
64  263  211.0  246.0  212.0  309.0  335.0    NaN    NaN    NaN    NaN    NaN
65  177  282.0  254.0  248.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
56  256  236.0  283.0  249.0  193.0  184.0    NaN    NaN    NaN    NaN    NaN
59  239  234.0  326.0  273.0  218.0  270.0  221.0  177.0  271.0  288.0  212.0
60  293  230.0  258.0  253.0  185.0  282.0  206.0    NaN    NaN    NaN    NaN
53  226  203.0  282.0  197.0  246.0    NaN    NaN    NaN    NaN    NaN    NaN
44  235  233.0  197.0  226.0  220.0  219.0  290.0  263.0    NaN    NaN    NaN
61  234  207.0  166.0  260.0  243.0    NaN    NaN    NaN    NaN    NaN    NaN
46  311  197.0  249.0  231.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
40  199  223.0  167.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
67  229  237.0  299.0  254.0  286.0    NaN    NaN    NaN    NaN    NaN    NaN
48  245  256.0  222.0  274.0  255.0  229.0    NaN    NaN    NaN    NaN    NaN
43  303  211.0  315.0  177.0  247.0    NaN    NaN    NaN    NaN    NaN    NaN
47  204  243.0  275.0  257.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
58  230  211.0  218.0  270.0  234.0  224.0  259.0  300.0  240.0  216.0  284.0
66  228  246.0  302.0  212.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
50  200  243.0  233.0  196.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
42  180  315.0  244.0  295.0  226.0  240.0    NaN    NaN    NaN    NaN    NaN
49  149  188.0  266.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
52  205  212.0  201.0  230.0  233.0  298.0  186.0  255.0  325.0  199.0    NaN
62  281  208.0  267.0  231.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
63  233  254.0  330.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
51  261  222.0  213.0  298.0  299.0  245.0  227.0  175.0    NaN    NaN    NaN
45  309  208.0  308.0  260.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
35  198  282.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
41  214  235.0  250.0  172.0  203.0    NaN    NaN    NaN    NaN    NaN    NaN
54  266  206.0  286.0  273.0  232.0  283.0  239.0  309.0  258.0  239.0  188.0
55  217  262.0  289.0  353.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
38  231    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
69  234  254.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
34  182    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
77  304    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
68  277  274.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
37  250    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
29  204    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
39  219  321.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

In [50]:
df_chol = pd.DataFrame.from_dict(d, orient='index').T.melt(var_name='Age', 
                                                           value_name='Cholesterol').dropna(subset=['Cholesterol']).reset_index(drop=True)
df_chol

     Age  Cholesterol
0     70        322.0
1     70        245.0
2     70        269.0
3     70        174.0
4     57        261.0
..   ...          ...
178   68        274.0
179   37        250.0
180   29        204.0
181   39        219.0
182   39        321.0

[183 rows x 2 columns]